<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>
      body {
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
      }
      #signature strong {
        color: #ec5b98;
      }
    </style>
  </head>

  <body class="">
    <div id='body'>
      <%= yield %>
    </div>
    <div id='signature'>
      <p>Julie | <strong>HUMAN'S BEST FRIEND</strong></p>

      <p style='margin: 5px 0;'><a href='https://hackerhouse.paris'>HackerHouse</a> | <a href='https://meetup.com/HackerHouse-Paris'>Events</a> | <a href='https://man.hackerhouse.paris'>Help</a> | <a href='https://instagram.com/hackerhouseparis'>Swag</a></p>
      <p><strong>Travailler en chaussettes 🧦</strong></p>
    </div>
  </body>
</html>
