<p>Hello <%= @user.firstname %>,</p>

<p>Ce mois-ci ta contribution solidaire est de : <%= cents @amount %></p>

<p>Les prochains départs sont :
  <ul>
    <% @users_checkout_soon.each do |u| %>
      <li><%= "dans #{time_ago_in_words(u.check_out)} (#{l(u.check_out, format: :short)})" %> : <%= u.firstname -%></li>
    <% end %>
  </ul>
</p>

<p>À ta dispo,</p>

<p>PS : si tu as des questions sur le montant de ta contribution solidaire, n'hésite pas à répondre à cet email.
</p>